@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #2b2a28;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
}